h1 ΚΟΣΤΟΛΟΓΗΣΗ
p Παρακάτω επισυνάπτεται λεπτομερώς η οικονομική μας προσφορά, καθώς και η αναλυτική κοστολόγηση των υπηρεσιών μας.

table
  tbody
    tr
      td(colspan='5')
        p Υπηρεσίες Εσωτερικού – Τιμοκατάλογος (όλες οι τιμές σε €)
    tr
      td
        p Υπηρεσία
      td
        p Αμοιβή (χωρίς Φ.Π.Α)
      td
        p Χρέωση Επιπλέον Κιλού
      td
        p ΦΠΑ 24%
      td
        p Συνολική Χρέωση (Χωρίς επιπλέον κιλό)
    tr
      td
        p Αποθήκευση Παλέτας (ύψος 1,70μ. - 1,80μ.)
      td
        p €8,00
      td
        p N/A
      td
        p €1,92
      td
        p €9,92
    tr
      td
        p Διανομή εντός Αττικής έως 3kg 
      td
        p €1,40/δέμα
      td
        p €0,50/kg
      td
        p €0,34
      td
        p €1,74
    tr
      td
        p Διανομή εντός Αττικής Euro Παλέτας
      td
        p €15
      td
        p &nbsp;
      td
        p &nbsp;
      td
        p &nbsp;
    tr
      td
        p Χρέωση αντικαταβολής
      td
        p €1,30/παραγγελία
      td
        p &nbsp;
      td
        p €0,36
      td
        p €1,86
    tr
      td
        p Διανομή  εκτός Αττικής (σε όλη την Ελλάδα) έως 2kg 
      td
        p €2,5/δέμα
      td
        p € 0,80/kg
      td
        p €0,67
      td
        p €3,47
    tr
      td
        p Διανομή  εκτός Αττικής Euro Παλέτας 
      td
        p €25
      td
        p &nbsp;
      td
        p &nbsp;
      td
        p &nbsp;
    tr
      td
        p
          strong *Χρέωση αντικαταβολής
      td
        p €1,70/παραγγελία
      td
        p &nbsp;
      td
        p €0,40
      td
        p €2,10
    tr
      td(colspan='5')
        p Υπηρεσίες Φορτοεκφόρτωσης εμπορευμάτων (Picking-Packing)
    tr
      td
        p Υπηρεσία
      td(colspan='2')
        p
          strong Αμοιβή (χωρίς Φ.Π.Α)
      td
        p
          strong ΦΠΑ 24%
      td
        p
          strong Συνολική Χρέωση
        p &nbsp;
    tr
      td
        p Φάκελος κραφτ Α5 (Μικρό μέγεθος)
      td(colspan='2')
        p €0,30
      td
        p €0,07
      td
        p €0,37
    tr
      td
        p Φάκελος κραφτ Α5 (Μεσαίο μέγεθος)
      td(colspan='2')
        p €0,40
      td
        p €0,09
      td
        p €0,49
    tr
      td
        p Φάκελος κραφτ Α3 (Μεγάλο μέγεθος)
      td(colspan='2')
        p €0,50
      td
        p €0,12
      td
        p €0,62
    tr
      td
        p Κιβώτιο τρίφυλλο, διαστάσεις 25-35-25
      td(colspan='2')
        p €0,60
      td
        p €0,14
      td
        p €0,74
    tr
      td
        p Προετοιμασία ανά συσκευασία έως 300γρ
      td(colspan='2')
        p €0,05/τεμάχιο
      td
        p €0,01
      td
        p €0,06/τεμάχιο
    tr
      td
        p
          | Εξειδικευμένος έλεγχος (καταμέτρηση προϊόντων ένα προς ένα) κατά την παραλαβή και στην απογραφή.
        p
          strong *Η διαδικασία είναι προαιρετική εφόσον το επιθυμεί ο πελάτης μας.  
      td(colspan='2')
        p €0,02/τεμάχιο
      td
        p &nbsp;
      td
        p &nbsp;
    tr
      td
        p Διαδικασίες. Έκδοση Παραστατικών (Δελτίο Αποστολής). 
          strong Η χρέωση αφορά κάθε παραγγελία
      td(colspan='2')
        p €0,40/τεμάχιο
      td
        p &nbsp;
      td
        p &nbsp;
h1 ΌΡΟΙ ΣΥΝΕΡΓΑΣΙΑΣ

p Η επιχείρηση μας διατηρεί το δικαίωμα να προσαρμόζει τον τιμοκατάλογο της όποτε επιθυμεί, εκτός αν υπάρχει ειδική συνεργασία με πελάτη της, ώστε να διατηρεί σταθερό τιμοκατάλογο για συγκεκριμένο χρονικό διάστημα και για συγκεκριμένες ποσότητες.  
br
p Η εκάστοτε συμφωνημένη αμοιβή για τις υπηρεσίες μας γίνεται κάθε δεκαπέντε (15) ημέρες, έναντι έκδοσης τιμολογίου.
br
p Η επιχείρηση «Point 2 Point» αναλαμβάνει την ευθύνη για την  απώλεια  είτε για την καταστροφή των εμπορευμάτων σας κατά την διανομή εφόσον έχει ανατεθεί στην «Point 2 Point» η διαδικασία της διανομής και στο τέλος της απογραφής, εφόσον έχει πραγματοποιηθεί ο εξειδικευμένος έλεγχος για κάθε παραλαβή των εμπορευμάτων σας.
br
p Για οποιαδήποτε λανθασμένη διαχείριση στη διαδικασία της προετοιμασίας των παραγγελιών, η επιχείρησή μας αναλαμβάνει τα μεταφορικά και διαδικαστικά κόστη για την αποστολή της σωστής παραγγελίας.
br
p Για την καλύτερη και άμεση εξυπηρέτηση των παραγγελιών σας προς τους πελάτες  και προμηθευτές σας  αρκεί να μας ενημερώνετε την προηγούμενη ημέρα μέχρι τις 14:00, προκειμένου η παραγγελίας σας, για παραδόσεις εντός Αθηνών να έχει αποσταλεί την επόμενη ημέρα και για πραδόσεις εκτός Αθηνών από μία (1 έως 3 εργάσιμες ημέρες).  
br
p Για περαιτέρω πληροφορίες και για οποιαδήποτε διευκρίνηση παραμένουμε στη διάθεσή σας.
