h1 ΥΠΗΡΕΣΙΕΣ

p Αποστολή μας είναι να παρέχουμε ευέλικτες, ολοκληρωμένες, αξιόπιστες και υψηλής ποιότητας υπηρεσίες στο χώρο των Μεταφορών και των Logistics, ανάλογα με τις εκάστοτε ανάγκες των πελατών μας. Παρέχουμε υπηρεσίες μεταφορών και  logistics είτε με σταθερή συνεργασία έναντι μηνιαίας αμοιβής ή/και μεμονωμένες υπηρεσίες έναντι αμοιβαίως συμφωνημένης αμοιβής, που καθορίζεται κατά περίπτωση. 
p Το σύνολο των υπηρεσιών μας περιλαμβάνει:

ul
    li Ανασυσκευασία
    li Διανομή
    li Αποθηκεύσεις- διαχείριση αποθεμάτων
    li Ασφάλεια μεταφορών
    li Εθνικές Μεταφορές
    li Αποθήκες logistics
    li Υπηρεσίες Picking Packing Φορτοεκφορτώσεις εμπορευμάτων (Εισαγωγές, Συσκευασία, Παραγγελιοληψία)


p Οι παραπάνω υπηρεσίες προσφέρονται 7 ημέρες την εβδομάδα, 365 ημέρες τον χρόνο.
p Πλήρως εξοπλισμένοι αποθηκευτικοί χώροι.
p 24ωρη φύλαξη και ασφαλιστική κάλυψη.